    <!-- Template Toast-->
@*
    <div class="me-0 ms-auto w-25">
        <div class="alert @Vm.GetColorCss() alert-dismissible fade @Vm.ShowCss" role="alert">
            <i class="@Vm.GetIconCss() me-1"></i>
            @Vm.Message
            <button type="button" class="btn-close @Vm.GetButtonCss()" @onclick="Vm.Close" aria-label="Close"></button>
        </div>
    </div>*@


<!-- Bootstrap Toast-->
<div aria-live="polite" aria-atomic="true" class="position-relative">
    <!-- Position it: -->
    <!-- - `.toast-container` for spacing between toasts -->
    <!-- - `.position-absolute`, `top-0` & `end-0` to position the toasts in the upper right corner -->
    <!-- - `.p-3` to prevent the toasts from sticking to the edge of the container  -->
    <div class="toast-container position-absolute top-0 end-0 p-3">
        <!-- Then put toasts within -->
        <div class="toast @Vm.GetColorCss() fade @Vm.ShowCss" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    <i class="@Vm.GetIconCss() me-1"></i>
                    @Vm.Message
                </div>
                <button type="button" class="btn-close me-2 m-auto p-1 fs-2 @Vm.GetButtonCss()" @onclick="Vm.Close" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>